# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
junit.xml

# Sonar
.scannerwork/

# Docker / local env
.env
.env.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
